body {
  color: #ccc;
  background-color: #444;
  font-family: arial;
}

.controls {
  background-color: #555;
  width: 320px;
  margin: auto;
  margin-top: 80px;
  padding: 10px;
  border-radius: 5px;
}

.btn {
  width: 86px;
  color: white;
  border: 0;
  border-radius: 4px;
  margin: 2px;
	box-shadow: 1px 1px 3px rgb(0,0,0), inset 0px -0px 3px rgba(0,0,0,.5);
	text-shadow: 1px 1px 3px #000;
	background-color: #30a;
        text-align: center;
	background-image:
   -webkit-gradient( linear,
			0% 0%,0% 100%,
			from(rgba(255,255,255,0.5)),
			to(rgba(255,255,255,0.2)),
			color-stop(.5,rgba(255,255,255,0.3)),
			color-stop(.5,rgba(255,255,255,0.0))
			);
 background-image:
   -moz-linear-gradient(top,
			rgba(255,255,255,0.7),
			rgba(255,255,255,0.4) 50%,
			rgba(0,0,0,0.0) 50%,
			rgba(255,255,255,0.3)
			);
 background-image:
   -o-linear-gradient(top,
			rgba(255,255,255,0.7),
			rgba(255,255,255,0.4) 50%,
			rgba(0,0,0,0.0) 50%,
			rgba(255,255,255,0.3)
			);
}

.btn:disabled {
  background-color: #555;
}

.btn:hover {
  background-color: #ff0;
  color: #000;
  text-shadow: none;
}

.bigBtn {
  width: 230px;
}

.btnHolder {
  width: 185px;
  margin: 5px auto 3px auto;
}

.inpLabel {
  width: 320px;
  height: 19px;
  clear: both;
}

.inpLabel div {
  float: left;
  width: 95px;
  text-align: right;
  font-weight: bold;
  text-align: right;
  text-shadow: 1px 1px 1px #222;
}

.inpLabel input {
 width: 150px;
 margin: 1px 0 1px 5px;
 border: 1px solid black;
 padding: 2px;
 float: left;
}

.inpLabel span {
 float: left;
 width: 50px;
 padding: 2px 5px;
 color: #eee;
 font-size: 14px;
 font-weight: normal;
}

.inputUrl {
  width: 300px;
  font-size: 15px;
  padding: 4px;
}

.timeline {
  width: 90%;
  margin: auto;
  height: 20px;
  position: relative;
}

.timelinePointer {
  position: absolute;
  width: 3px;
  background-color: #fc0;
  height: 40px;
  border: 0 solid rgba(0,0,0,.3);
  box-shadow: 0px 0px 4px #000;
  top: -7px;
  left: 0;
  -webkit-transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
}

.timelineChunk {
  height: 18px;
  margin: 2px;
  border: 0px solid #333;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-size: 12px;
  text-shadow: 1px 1px 1px #222;
  float: left;
  padding-top: 5px;
}

.timelineChunkSel {
  height: 18px;
  margin: -2px;
  border: 3px solid #fc0;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-size: 12px;
  text-shadow: 1px 1px 1px #222;
  float: left;
  padding-top: 5px;
}

.timerText {
  text-shadow: 2px 2px 2px #000;
  padding: 80px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  font-size: 100px;
}

@media only screen and (max-width: 500px) {

.timerText {
  padding: 40px;
  height: 30px;
  font-size: 50px;
}

}

